.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 15px;
    background-image: url('/public/images/pattern-bg-mobile.png'); 
    background-size: cover;
    background-position: center;
    height: 45vh;
    position: relative; 
    z-index: 1; 
  }
  

.title {
    position: relative;
    z-index: 2;
    color: white;
    font-weight: 500;
    font-size: 28px;
}

@media (min-width: 768px) {
  .header {
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px; /* Adjust the padding to better fit the desktop design */
    background-image: url('/public/images/pattern-bg-desktop.png'); /* Desktop background image if different */
    height: 37vh;
  }

  .title {
    font-size: 32px; /* Adjust the font size for desktop */
  }
}
